@import "common.scss";

body {
  font-family: "Karla", sans-serif;
  line-height: 24px;
}

h1, h2, h3 {
  color: $cocoaheads-brown;
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

a:link, a:visited {
  color: #000;

  &:hover {
    color: $cocoaheads-blue;
  }
}

p, h1, h2, h3, .inline-content {
  & + p, & + h1, & + h2, & + h3, & + .inline-content {
    margin-top: 24px;
  }
}

@media (min-width: 601px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
}
