.video-highlight {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -12px;

  & > li {
    width: calc(100%);
    margin: 12px;
  }

  &__thumbnail {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .video-highlight {
    & > li {
      width: calc(50% - 24px);
    }
  }
}

@media (min-width: 913px) {
  .video-highlight {
    & > li {
      width: calc(33% - 24px);
    }
  }
}
